@page "/editarTablaAlineamiento/{id}"
@using Cobit19.Data
@inject MetasAlineamientoService metasalineamientoService
@inject NavigationManager NavigationManager

<h2>Editar tabla</h2>

<hr />

<form>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="AG01" class="control-label">Cumplimiento y soporte de I&T</label>
                <select @bind="@obj.AG01" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="AG02" class="control-label">Gestión de riesgo relacionado con I&T</label>
                <select @bind="@obj.AG02" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG03" class="control-label">Beneficios obtenidos del portafolio de inversiones</label>
                <select @bind="@obj.AG03" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG04" class="control-label">Calidad de la información financiera</label>
                <select @bind="@obj.AG04" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG05" class="control-label">Prestación de servicios de I&T</label>
                <select @bind="@obj.AG05" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG06" class="control-label">Agilidad para convertir los requisitos</label>
                <select @bind="@obj.AG06" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG07" class="control-label">Seguridad de la información</label>
                <select @bind="@obj.AG07" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG08" class="control-label">Habilidad y dar soporte a procesos de negocio</label>
                <select @bind="@obj.AG08" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG09" class="control-label">Ejecución de programas dentro del plazo</label>
                <select @bind="@obj.AG09" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG10" class="control-label">Calidad de la información sobre gestión de I&T</label>
                <select @bind="@obj.AG10" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG11" class="control-label">Cumplimiento de I&T con las políticas internas</label>
                <select @bind="@obj.AG11" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EG12" class="control-label">Personal competente y motivado</label>
                <select @bind="@obj.AG12" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>


            <div class="form-group">
                <label for="EG13" class="control-label">Conocimiento, experiencia e iniciativas</label>
                <select @bind="@obj.AG13" class="form-control">
                    <option value="">Vacio</option>
                    <option value="P">Primario</option>
                    <option value="S">Secundario</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@ActualizarMetasEmpresarialAqui" value="Actualizar" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string Id { get; set; }
    MetasAlineamiento obj = new MetasAlineamiento();

    protected override async Task OnInitializedAsync()
    {



        obj = await Task.Run(() => metasalineamientoService.GetMetasAlineamiento(Convert.ToInt32(Id)));


    }

    protected async void ActualizarMetasEmpresarialAqui()
    {
        await metasalineamientoService.ActualizarMetasAlineamiento(obj);
        NavigationManager.NavigateTo("Tablas");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Tablas");
    }

}
